.Jet{
	width: 50%;
	background-color: #CFD8DC;
	border-radius: 15px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.Jet__name{
	font-family: fantasy;
}

.Jet__country{
	color: black;
}